## Tugas Customer Churn Prediction 2

In [ ]:
from google.colab import drive
import pandas as pd
import numpy as np

In [ ]:
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
eps = np.finfo(float).eps

In [ ]:
file = pd.read_csv('/content/drive/MyDrive/Tugas Prediction/dataset - Copy.csv')
file

      UpdatedAt   customerID  gender  ... MonthlyCharges TotalCharges  Churn
0        202006  45759018157  Female  ...          29.85        29.85     No
1        202006  45315483266    Male  ...          20.50      1198.80     No
2        202006  45236961615    Male  ...         104.10       541.90    Yes
3        202006  45929827382  Female  ...         115.50      8312.75     No
4        202006  45305082233  Female  ...          81.25      4620.40     No
...         ...          ...     ...  ...            ...          ...    ...
5555     202006  45599309621  Female  ...          61.15      4017.45     No
5556     202006  45063521524    Male  ...          70.75      2921.75     No
5557     202006  45777136787  Female  ...          63.80      3007.25     No
5558     202006  45951268937  Female  ...          20.55       252.75     No
5559     202006  45696355755    Male  ...          88.55      6306.50     No

[5560 rows x 13 columns]

In [ ]:
train = file[0:36]
train

    UpdatedAt   customerID  gender  ... MonthlyCharges TotalCharges  Churn
0      202006  45759018157  Female  ...          29.85        29.85     No
1      202006  45315483266    Male  ...          20.50      1198.80     No
2      202006  45236961615    Male  ...         104.10       541.90    Yes
3      202006  45929827382  Female  ...         115.50      8312.75     No
4      202006  45305082233  Female  ...          81.25      4620.40     No
5      202006  45072364214    Male  ...          85.25      3704.15     No
6      202006  45410681487    Male  ...          80.00      3182.95    Yes
7      202006  45131942507    Male  ...          84.60       959.90     No
8      202006  45105270921  Female  ...          19.90      1397.30     No
9      202006  45874886225    Male  ...          19.90       357.70     No
10     202006  45781357712    Male  ...          96.60      2877.95     No
11     202006  45652259793  Female  ...          54.95      3772.50     No
12     202006  45611996642    Male  ...          38.25      1755.35     No
13     202006  45219231821  Female  ...          49.20      3580.95     No
14     202006  45755029711    Male  ...         108.25      5431.40     No
15     202006  45154150055    Male  ...          62.05        62.05    Yes
16     202006  45507385721  Female  ...          80.05      4042.20     No
17     202006  45758152256  Female  ...          70.15      4224.70     No
18     202006  45421133154    Male  ...          20.25        20.25    Yes
19     202006  45897931372    Male  ...         102.10      6688.10     No
20     202006  45036252520    Male  ...          84.90      3067.20    Yes
21     202006  45355621772  Female  ...          20.00       416.45     No
22     202006  45935613736    Male  ...         110.70      4428.60     No
23     202006  45517652910  Female  ...          66.90      4370.25     No
24     202006  45750847111  Female  ...          86.40      5442.05     No
25     202006  45001672099  Female  ...          90.45      5957.90     No
26     202006  45308828568  Female  ...          79.00       929.30     No
27     202006  45277853278    Male  ...          39.10       971.30    Yes
28     202006  45658317021  Female  ...          94.65      1285.05     No
29     202006  45854404253    Male  ...          20.80      1521.20     No
30     202006  45872734664    Male  ...          35.80      1316.90     No
31     202006  45296236337    Male  ...          45.15        98.50    Yes
32     202006  45400109201  Female  ...          91.55      5511.65     No
33     202006  45759425428    Male  ...          69.15      2275.10     No
34     202006  45822414214    Male  ...          25.00      1738.90     No
35     202006  45356912488    Male  ...          75.10      5013.00     No

[36 rows x 13 columns]

In [ ]:
#filtering column that you use
train.drop(columns = ['UpdatedAt', 'customerID','tenure', 'MonthlyCharges','TotalCharges'], inplace = True)
train

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

    gender SeniorCitizen Partner  ... InternetService PaperlessBilling Churn
0   Female            No     Yes  ...             Yes              Yes    No
1     Male            No     Yes  ...              No              Yes    No
2     Male            No      No  ...             Yes               No   Yes
3   Female            No     Yes  ...             Yes              Yes    No
4   Female            No     Yes  ...             Yes               No    No
5     Male            No      No  ...             Yes              Yes    No
6     Male            No     Yes  ...             Yes               No   Yes
7     Male            No     Yes  ...             Yes              Yes    No
8   Female            No     Yes  ...              No               No    No
9     Male            No     Yes  ...              No               No    No
10    Male           Yes      No  ...             Yes              Yes    No
11  Female            No     Yes  ...             Yes              Yes    No
12    Male            No      No  ...             Yes               No    No
13  Female            No     Yes  ...             Yes              Yes    No
14    Male            No     Yes  ...             Yes              Yes    No
15    Male            No      No  ...             Yes               No   Yes
16  Female            No     Yes  ...             Yes              Yes    No
17  Female            No      No  ...             Yes              Yes    No
18    Male            No      No  ...              No               No   Yes
19    Male           Yes      No  ...             Yes               No    No
20    Male            No      No  ...             Yes              Yes   Yes
21  Female            No     Yes  ...              No              Yes    No
22    Male            No     Yes  ...             Yes              Yes    No
23  Female            No     Yes  ...             Yes               No    No
24  Female            No      No  ...             Yes              Yes    No
25  Female            No     Yes  ...             Yes              Yes    No
26  Female            No      No  ...             Yes              Yes    No
27    Male           Yes     Yes  ...             Yes               No   Yes
28  Female           Yes     Yes  ...             Yes              Yes    No
29    Male            No      No  ...              No              Yes    No
30    Male            No      No  ...             Yes               No    No
31    Male            No      No  ...             Yes              Yes   Yes
32  Female            No     Yes  ...             Yes              Yes    No
33    Male           Yes      No  ...             Yes               No    No
34    Male            No     Yes  ...              No               No    No
35    Male            No     Yes  ...             Yes              Yes    No

[36 rows x 8 columns]

# Prediction using Decision Tree

In [ ]:
# define a function that takes in class (target variable vector) and finds the entropy of that class.
# the fraction is ‘pi’, it is the proportion of a number of elements in that split group to the number of elements in the group before splitting(parent group).
def find_entropy(train):
    entropy = 0
    for value in ('Yes', 'No'):
        fraction = train['Churn'].value_counts()[value] / len(train['Churn'])
        entropy += -fraction * np.log2(fraction)
    return entropy

In [ ]:
train['Churn'].value_counts()['Yes']

7

In [ ]:
train['Churn'].value_counts()['No']

29

In [ ]:
# find the Entropy and then Information Gain for splitting the data set

find_entropy(train)

0.710676853856123

In [ ]:
def find_entropy_attribute(train, attribute):
    entropy_sum = 0
    for variable in train[attribute].unique():
        entropy = 0
        for target_variable in ('Yes', 'No'):
            num = len(train[attribute][train[attribute] == variable][train['Churn'] == target_variable])
            den = len(train[attribute][train[attribute] == variable])
            fraction = num / (den + eps)
            entropy += -fraction * np.log2(fraction + eps)
        entropy_weights = den / len(train)
        entropy_sum += -entropy_weights * entropy
    return abs(entropy_sum)

In [ ]:
def build_tree(train):
    IG = []
    for key in train.keys()[:-1]:
        IG.append(find_entropy(train) - find_entropy_attribute(train, key))
    node = train.keys()[:-1][np.argmax(IG)]  # Get attribute with maximum information gain

    tree = {}
    tree[node] = {}

    for value in np.unique(train[node]):
        sub_table = train[train[node] == value].reset_index(drop=True)
        cls, counts = np.unique(sub_table['Churn'], return_counts=True)

        if len(counts) == 1:  # Checking purity of subset
            tree[node][value] = cls[0]
        else:
            tree[node][value] = build_tree(sub_table)  # Calling the function recursively

    return tree

In [ ]:
# Now we call the buildTree function and print the tree we built.
tree = build_tree(train)

import pprint
pprint.pprint(tree)

{'gender': {'Female': 'No',
            'Male': {'PaperlessBilling': {'No': {'SeniorCitizen': {'No': {'PhoneService': {'No': 'No',
                                                                                           'Yes': {'Partner': {'No': 'Yes',
                                                                                                               'Yes': {'StreamingTV': {'No': 'No',
                                                                                                                                       'Yes': 'Yes'}}}}}},
                                                                   'Yes': {'Partner': {'No': 'No',
                                                                                       'Yes': 'Yes'}}}},
                                          'Yes': {'Partner': {'No': {'StreamingTV': {'No': {'InternetService': {'No': 'No',
                                                                                                                'Yes': 'Yes'}},
                                                                                     'Yes': 'No'}},
                                                              'Yes': 'No'}}}}}}

In [ ]:
# We can write an algorithm to predict using this tree structure.
def predict(inst, tree):
    for nodes in tree.keys():
        value = inst[nodes]
        tree = tree[nodes][value]
        prediction = 0

        if type(tree) is dict:
            prediction = predict(inst, tree)
        else:
            prediction = tree
            break

    return prediction

In [ ]:
# Function to predict for any input instance
inst = train.iloc[0][:-1]
inst

gender              Female
SeniorCitizen           No
Partner                Yes
PhoneService            No
StreamingTV             No
InternetService        Yes
PaperlessBilling       Yes
Name: 0, dtype: object

In [ ]:
# This takes row with index 6
train.iloc[0][-1]

'No'

In [ ]:
# Get prediction
prediction = predict(inst, tree)
prediction

# Our tree has rightly predicted the customer churn. Of course this is training data, not advisable to use this for testing.

'No'

In [ ]:
# Function to predict for any input instance
inst = file.iloc[20][:-1]
inst

UpdatedAt                202006
customerID          45036252520
gender                     Male
SeniorCitizen                No
Partner                      No
tenure                       36
PhoneService                Yes
StreamingTV                  No
InternetService             Yes
PaperlessBilling            Yes
MonthlyCharges             84.9
TotalCharges             3067.2
Name: 20, dtype: object

In [ ]:
# This takes row with index 6
file.iloc[20][-1]

'Yes'

In [ ]:
# Get prediction
prediction = predict(inst, tree)
prediction

# Our tree has rightly predicted the customer churn. Of course this is training data, not advisable to use this for testing.

'Yes'

In [ ]:
# Function to predict for any input instance
inst = file.iloc[32][:-1]
inst

UpdatedAt                202006
customerID          45400109201
gender                   Female
SeniorCitizen                No
Partner                     Yes
tenure                       58
PhoneService                Yes
StreamingTV                 Yes
InternetService             Yes
PaperlessBilling            Yes
MonthlyCharges            91.55
TotalCharges            5511.65
Name: 32, dtype: object

In [ ]:
# This takes row with index 6
file.iloc[32][-1]

'No'

In [ ]:
# Get prediction
prediction = predict(inst, tree)
prediction

# Our tree has rightly predicted the customer churn. Of course this is training data, not advisable to use this for testing.

'No'

# Prediction with new data

In [ ]:
test = file[37:60]
test

    UpdatedAt   customerID  gender  ... MonthlyCharges TotalCharges  Churn
37     202006  45364690473  Female  ...          19.70      1051.90     No
38     202006  45158281632    Male  ...          60.10        60.10    Yes
39     202006  45951893281    Male  ...          72.45      2156.25     No
40     202006  45884914608    Male  ...          91.25      2964.05     No
41     202006  45207251003    Male  ...          25.25      1728.20     No
42     202006  45572912518  Female  ...          80.85       302.75    Yes
43     202006  45168213595    Male  ...          20.45       481.10     No
44     202006  45878556437    Male  ...          23.15       245.20    Yes
45     202006  45037319140    Male  ...          39.55       373.00     No
46     202006  45663336229    Male  ...          49.20       216.90    Yes
47     202006  45312581821    Male  ...          20.30       467.15     No
48     202006  45888465528    Male  ...          20.60       754.00     No
49     202006  45063711421    Male  ...          76.50       162.45    Yes
50     202006  45611686184  Female  ...         100.45      3414.65     No
51     202006  45613955827    Male  ...          20.05      1198.05     No
52     202006  45668159537    Male  ...          59.50      3389.25     No
53     202006  45754451913    Male  ...         105.05      6004.85     No
54     202006  45587147035    Male  ...          19.80       607.70     No
55     202006  45674388766    Male  ...          25.10      1097.15     No
56     202006  45339363561  Female  ...         100.25      2387.75    Yes
57     202006  45050488169  Female  ...          88.30      2467.75    Yes
58     202006  45996545152    Male  ...          83.85       790.15    Yes
59     202006  45198668756    Male  ...          58.40       964.90     No

[23 rows x 13 columns]

In [ ]:
#filtering column that you use
test.drop(columns = ['UpdatedAt', 'customerID','tenure', 'MonthlyCharges','TotalCharges'], inplace = True)
test

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

    gender SeniorCitizen Partner  ... InternetService PaperlessBilling Churn
37  Female            No      No  ...              No               No    No
38    Male            No      No  ...             Yes               No   Yes
39    Male            No      No  ...             Yes              Yes    No
40    Male            No     Yes  ...             Yes               No    No
41    Male            No     Yes  ...              No               No    No
42  Female            No     Yes  ...             Yes               No   Yes
43    Male            No      No  ...              No               No    No
44    Male            No      No  ...              No               No   Yes
45    Male            No      No  ...             Yes               No    No
46    Male            No      No  ...             Yes              Yes   Yes
47    Male            No      No  ...              No               No    No
48    Male            No      No  ...              No               No    No
49    Male            No      No  ...             Yes              Yes   Yes
50  Female            No     Yes  ...             Yes              Yes    No
51    Male           Yes      No  ...              No              Yes    No
52    Male            No     Yes  ...             Yes               No    No
53    Male            No     Yes  ...             Yes              Yes    No
54    Male            No      No  ...              No               No    No
55    Male            No     Yes  ...             Yes              Yes    No
56  Female            No      No  ...             Yes              Yes   Yes
57  Female           Yes      No  ...             Yes               No   Yes
58    Male           Yes      No  ...             Yes              Yes   Yes
59    Male           Yes      No  ...             Yes              Yes    No

[23 rows x 8 columns]

In [ ]:
# Function to predict for any input instance
inst = test.iloc[1][:-1]
inst

gender              Male
SeniorCitizen         No
Partner               No
PhoneService         Yes
StreamingTV           No
InternetService      Yes
PaperlessBilling      No
Name: 38, dtype: object

In [ ]:
test.iloc[1][-1]

'Yes'

In [ ]:
# Get prediction
prediction = predict(inst, tree)
prediction

# Our tree has rightly predicted # Get prediction
prediction = predict(inst, tree)
prediction

# Our tree has rightly predicted the customer churn. Of course this is training data, not advisable to use this for testing.

'Yes'

In [ ]:
# Function to predict for any input instance
inst = test.iloc[8][:-1]
inst

gender              Male
SeniorCitizen         No
Partner               No
PhoneService          No
StreamingTV           No
InternetService      Yes
PaperlessBilling      No
Name: 45, dtype: object

In [ ]:
test.iloc[8][-1]

'No'

In [ ]:
# Get prediction
prediction = predict(inst, tree)
prediction

# Our tree has rightly predicted the customer churn. Of course this is training data, not advisable to use this for testing.

'No'